body {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    margin: 80px;
}
h3 {
    font-weight: 500;
}

/* navigation */

.navbar {
    background: rgb(134, 168, 38) !important;
}


/*Jumbotron */

#heroImg {
    background-image:url('../images/heroimage.jpg');
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
}

#benefits {
    background-image:url('../images/nightsky.jpg');
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
}

#gear {
    background-image:url('../images/gearhero.jpg');
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
}

#locationHero {
    background-image:url('../images/locationpic.jpg');
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Carousel*/

#carouselExampleIndicators {
    padding: 50px;
}

